body {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 2% auto;
}

.header__logo {
  text-align: center;
}
.header__ctner-search {
  display: flex;
  height: 60px;
  border-radius: 5px;
  background-color: #E7E7E7;
  margin: 1rem 0;
}
.header__ctner-search--input {
  font-size: 1rem;
  flex-grow: 1;
  border: 0;
  padding: 0 0.5em;
  background-color: transparent;
}
.header__ctner-search--input:focus {
  outline: 0;
}
.header__ctner-search--submit {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
.header__ctner-search--submit i {
  font-size: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
}

.menus {
  display: inline-grid;
  row-gap: 20px;
}
.menus__tags {
  display: flex;
}
.menus__tags--tagcontainer {
  min-width: 100px;
  height: 40px;
  color: #FFFFFF;
  background-color: #3282F7;
  border-radius: 5px;
  position: relative;
  font-size: 1rem;
  margin-right: 2rem;
}
.menus__tags--tagcontainer .tagbutton {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  text-align: left;
  font-size: inherit;
  padding: 0 30px 0 15px;
}
.menus__tags--tagcontainer .tagicon {
  position: absolute;
  top: 30%;
  right: 6%;
  cursor: pointer;
}
.menus__dropdown {
  display: flex;
}
.menus__dropdown .ingredient {
  width: 180px;
  height: 69px;
  color: #FFFFFF;
  background-color: #3282F7;
  border-radius: 5px;
  position: relative;
  font-size: 1rem;
  margin-right: 2rem;
}
.menus__dropdown .ingredient__toggle {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  text-align: left;
  font-size: inherit;
  cursor: pointer;
  padding: 0 0 0 15px;
}
.menus__dropdown .ingredient__toggle--icon {
  position: absolute;
  top: 27px;
  right: 15px;
  pointer-events: none;
}
.menus__dropdown .ingredient__toggle::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.menus__dropdown .ingredient .rotate {
  transform: rotate(180deg);
}
.menus__dropdown .ingredient__dropdownmenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 24em;
  overflow: hidden;
  background-color: #3282F7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 5px 5px 5px;
  margin: 0;
}
.menus__dropdown .ingredient__dropdownmenu--item {
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
}
.menus__dropdown .ingredient .hide {
  visibility: hidden;
}
.menus__dropdown .device {
  width: 180px;
  height: 69px;
  color: #FFFFFF;
  background-color: #68D9A4;
  border-radius: 5px;
  position: relative;
  font-size: 1rem;
  margin-right: 2rem;
}
.menus__dropdown .device__toggle {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  text-align: left;
  font-size: inherit;
  cursor: pointer;
  padding: 0 0 0 15px;
}
.menus__dropdown .device__toggle--icon {
  position: absolute;
  top: 27px;
  right: 15px;
  pointer-events: none;
}
.menus__dropdown .device__toggle::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.menus__dropdown .device .rotate {
  transform: rotate(180deg);
}
.menus__dropdown .device__dropdownmenu {
  display: grid;
  grid-template-columns: 210px;
  max-height: 24em;
  overflow: hidden;
  background-color: #68D9A4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 5px 5px 5px;
  margin: 0;
}
.menus__dropdown .device__dropdownmenu--item {
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
}
.menus__dropdown .device .hide {
  visibility: hidden;
}
.menus__dropdown .utensil {
  width: 180px;
  height: 69px;
  color: #FFFFFF;
  background-color: #ED6454;
  border-radius: 5px;
  position: relative;
  font-size: 1rem;
  margin-right: 2rem;
}
.menus__dropdown .utensil__toggle {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  text-align: left;
  font-size: inherit;
  cursor: pointer;
  padding: 0 0 0 15px;
}
.menus__dropdown .utensil__toggle--icon {
  position: absolute;
  top: 27px;
  right: 15px;
  pointer-events: none;
}
.menus__dropdown .utensil__toggle::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.menus__dropdown .utensil .rotate {
  transform: rotate(180deg);
}
.menus__dropdown .utensil__dropdownmenu {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  max-height: 24em;
  overflow: hidden;
  background-color: #ED6454;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 5px 5px 5px;
  margin: 0;
}
.menus__dropdown .utensil__dropdownmenu--item {
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
}
.menus__dropdown .utensil .hide {
  visibility: hidden;
}

.container-recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.3rem;
  column-gap: 6%;
  margin-top: 2rem;
}
.container-recipes__items--picture {
  width: 352px;
  height: 178px;
  background-color: #C7BEBE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.container-recipes__items--description {
  height: 186px;
  padding: 5px;
  background-color: #E7E7E7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container-recipes__items--description .titleRecipe {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: 700;
}
.container-recipes__items--description .contentrecipe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.3rem;
  font-size: 13px;
  line-height: 14px;
}
.container-recipes__items--description .contentrecipe__left--ingredient {
  font-weight: 700;
}
.container-recipes__items--description .contentrecipe__right {
  width: 171px;
  height: 71px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/*# sourceMappingURL=style.css.map */
