body {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 2% auto;
}
.header {

    &__logo {
        text-align: center;
    }
    &__ctner-search {
        display: flex;
        height: 60px;
        border-radius: 5px;
        background-color: $clr-gris;
        margin: 1rem 0;
       
        &--input {
            font-size: 1rem;
            flex-grow: 1;
            border: 0;
            padding: 0 0.5em;
            background-color: transparent;
            &:focus {
                outline: 0;
            }
        }
        &--submit {
            border: 0;
            cursor: pointer;
            background-color: transparent;
            i {
                font-size: 2rem;                
            }           
        }
        
    }
}
main {
    display: grid ;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;

}
.menus {
   display: inline-grid;
   row-gap: 20px;
    &__tags {
        display: flex;    
        &--tagcontainer{
            min-width: 100px;
            
            height: 40px;
            color: $clr-white;           
            background-color: $clr-primaire; 
            border-radius: 5px;
            position: relative;
            font-size: 1rem;
            margin-right: 2rem;
            .tagbutton {
                width: 100%; 
                height: 100%;       
                border: 0;        
                outline: none;
                background-color: transparent; 
                color: inherit;      
                text-align: left;
                font-size: inherit;                        
                padding: 0 30px 0 15px;
            }
            .tagicon {
                position: absolute;
                top: 30%;
                right: 6%;  
                cursor: pointer;                             
            }
        }
        //@include tags($clr-primaire);
    }
    &__dropdown { 
        display: flex;
        .ingredient {  
            @include menus($clr-primaire, repeat(3, 1fr));       
        }

        .device {  
            @include menus($clr-secondaire, 210px);
            
        }
        .utensil {  
            @include menus($clr-tertiaire, repeat(2, 2fr)); 
                
        }    
    }
}

.container-recipes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.3rem;
    column-gap: 6%;
    margin-top: 2rem;
    
    &__items {        
        &--picture {
            width: 352px;
            height: 178px;
            background-color: $clr-gris-fonce; 
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;          
        }
        &--description {
            height: 186px;
            padding: 5px;
            background-color: $clr-gris;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; 
            .titleRecipe {
                display: flex;
                justify-content: space-between;
                margin: 0;  
                font-weight: 700;              
            }
            .contentrecipe {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 1.3rem;
                font-size: 13px;
                line-height: 14px;
                &__left{
                    &--ingredient {
                        font-weight: 700;
                    }

                }
                &__right {
                    width: 171px; 
                    height: 71px;  
                    //white-space:wrap;                 
                    overflow: hidden;
                   // text-overflow: ellipsis;
                   display: -webkit-box;
                   -webkit-line-clamp: 5;
                   -webkit-box-orient: vertical ;

                }

                
            }
        }
       

    }

}

