@mixin menus($bg-color, $nbr-colonne) {
    width: 180px;
    height: 69px;
    color: $clr-white;           
    background-color: $bg-color; 
    border-radius: 5px;
    position: relative;
    font-size: 1rem;
    margin-right: 2rem;
    &__toggle {
        width: 100%; 
        height: 100%;       
        border: 0;        
        outline: none;
        background-color: transparent; 
        color: inherit;      
        text-align: left;
        font-size: inherit;        
        cursor: pointer;
        padding: 0 0 0 15px;
       
        &--icon {
            position: absolute;
            top: 27px;
            right: 15px;        
            pointer-events: none;         
        }
        &::placeholder {
            color: rgb($clr-white, .5);
        }
        
    }
    .rotate {
        transform: rotate(180deg);                       
    } 

    &__dropdownmenu {
        display: grid;
        grid-template-columns: $nbr-colonne;       
        max-height: 24em;
        overflow: hidden;
        background-color: $bg-color;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 5px 5px 5px;
        margin: 0;
        
       &--item  {
           list-style: none;
           padding: 10px 20px;
           cursor: pointer;
        }
    }
    .hide {
        visibility: hidden;
    }
    
}

@mixin tags($bg-color) {
    width: 180px;
    height: 69px;
    color: $clr-white;           
    background-color: $bg-color; 
    border-radius: 5px;
    position: relative;
    font-size: 1rem;
    margin-right: 2rem;
    .tagbutton {
        width: 100%; 
        height: 100%;       
        border: 0;        
        outline: none;
        background-color: transparent; 
        color: inherit;      
        text-align: left;
        font-size: inherit;        
        cursor: pointer;
        padding: 0 0 0 15px;
       
        .tagicon {
            position: absolute;
            top: 27px;
            right: 15px;        
            pointer-events: none;         
        }       
        
    }
    
}